<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.DetailsMapper">

	<!-- 当数据库中的字段信息与对象的属性不一致时需要通过resultMap来映射 -->
	<resultMap type="Details" id="detailsList">
		<result property="transactionNo" column="transactionNo"/>
		<result property="suppler" column="suppler"/>
		<result property="transactionDate" column="transactionDate"/>
		
		<result property="g_name" column="g_name"/>
		<result property="g_barCode" column="g_barCode"/>
		<result property="g_manufactureDate" column="g_manufactureDate"/>
		
		<result property="g_num" column="g_num"/>
		<result property="g_specification" column="g_specification"/>
		<result property="g_unit" column="g_unit"/>
		
		
		<result property="g_type" column="g_type"/>
		<result property="g_shelfLife" column="g_shelfLife"/>
	</resultMap>
	
	<!-- 添加商品进货明细 -->
	<insert id="addDetails">
		insert into p_detailes(
			transactionNo, suppler, transactionDate,
			g_name, g_barCode, g_manufactureDate,
			g_num, g_specifications, g_unit,
			g_type, g_shelfLife
		) values(
			#{transactionNo}, #{suppler}, #{transactionDate},
			#{g_name}, #{g_barCode}, #{g_manufactureDate},
			#{g_num}, #{g_specifications}, #{g_unit},
			#{g_type}, #{g_shelfLife}
		)
	</insert>
	
	<!-- 按商品条形码删除进货明细 -->
	<delete id="delDetailsByNo" parameterType="Integer">
		delete from p_detailes
			where g_barCode = #{g_barCode}
	</delete>
	
	<!-- 按商品条形码修改进货明细 -->
	<update id="editDetailsByNo" parameterType="Details">
		update p_detailes
		<trim prefix="set" suffixOverrides="," suffix="where g_barCode = #{g_barCode}">
		
			<if test="transactionNo != null and transactionNo != ''">
				transactionNo = #{transactionNo},
			</if>
			
			<if test="suppler != null and suppler != ''">
				suppler = #{suppler},
			</if>
			
			<if test="transactionDate != null and transactionDate != ''">
				transactionDate = #{transactionDate}
			</if>
			
			<if test="g_name != null and g_name != ''">
				g_name = #{g_name},
			</if>
			
			<if test="g_manufactureDate != null and g_manufactureDate != ''">
				g_manufactureDate = #{g_manufactureDate},
			</if>
			
			<if test="g_num != null and g_num != ''">
				g_num = #{g_num}
			</if>
			
			<if test="g_specifications != null and g_specifications != ''">
				g_specifications = #{g_specifications},
			</if>
			
			<if test="g_unit != null and g_unit != ''">
				g_unit = #{g_unit},
			</if>
			
			<if test="g_type != null and g_type != ''">
				g_type = #{g_type}
			</if>
			
			<if test="g_shelfLife != null and g_shelfLife != ''">
				g_shelfLife = #{g_shelfLife}
			</if>
			
		</trim>
	</update>
	
	<!-- 按商品条形码查询进货明细 -->
	<select id="getDetailsByBarCode" resultMap="detailsList">
		select * from p_detailes
			<where>
				<if test="g_barCode != null and g_barCode != ''">
					and g_barCode like CONCAT ('%',#{g_barCode},'%')
				</if>
			</where>
	</select>
	
	<!-- 按商品名称查询进货明细 -->
	<select id="getDetailsByName" resultMap="detailsList">
		select * from p_detailes 
		<where>
			<if test="g_name !=null and g_name != '' ">
				and g_name like CONCAT ('%',#{g_name},'%')
			</if>
		</where>
	</select>
	
	<!-- 按交易单号查询进货明细 -->
	<select id="getDetailsByNo" resultMap="detailsList">
		select * from p_detailes 
		<where>
			<if test="transactionNo !=null and transactionNo != '' ">
				and transactionNo like CONCAT ('%',#{transactionNo},'%')
			</if>
		</where>
	</select>
	
	<!-- 获取全部进货明细 -->
	<select id="getDetailsList" resultMap="detailsList">
		select * from p_detailes 
	</select>
	
	<!-- 获取全部进货明细总数 -->
	<select id="getDetailsCount" resultType="int">
		select count(*) from p_detailes
	</select>
</mapper>